<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.7.1-dev-00972" targetFramework="net452" />
  <package id="Serilog.Settings.AppSettings" version="2.2.0-dev-00048" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="4.0.1-dev-00795" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.1-dev-00771" targetFramework="net452" />
  <package id="SourceGrid" version="4.4.0" targetFramework="net452" />
</packages>