<?xml version="1.0" standalone="yes"?>
<AppOptions xmlns="http://tempuri.org/AppOptions.xsd">
  <Main>
    <CellsPerLine>40</CellsPerLine>
    <DefaultTextPrinter>PDFill PDF&amp;Image Writer</DefaultTextPrinter>
    <LinesPerPage>25</LinesPerPage>
    <ErrorProneWords>為</ErrorProneWords>
    <PrintBrailleToBrailler>true</PrintBrailleToBrailler>
    <PrintBrailleToFile>false</PrintBrailleToFile>
    <PrintBrailleSendPageBreakAtEndOfDoc>false</PrintBrailleSendPageBreakAtEndOfDoc>
    <PrintBrailleToFileName />
    <BraillePrinterPort>LPT1</BraillePrinterPort>
    <PrintTextMarginLeft>105</PrintTextMarginLeft>
    <PrintTextMarginTop>12</PrintTextMarginTop>
    <PrintTextFontSize>12</PrintTextFontSize>
    <PrintTextLineHeight>40.0975</PrintTextLineHeight>
    <PrintTextFontName>新細明體</PrintTextFontName>
    <PrintPageFoot>true</PrintPageFoot>
    <PrintTextMarginRight>150</PrintTextMarginRight>
    <PrintTextMarginBottom>100</PrintTextMarginBottom>
    <PrintTextMarginLeft2>105</PrintTextMarginLeft2>
    <PrintTextMarginTop2>15</PrintTextMarginTop2>
    <PrintTextMarginRight2>150</PrintTextMarginRight2>
    <PrintTextMarginBottom2>100</PrintTextMarginBottom2>
    <PrintTextPaperSourceName />
    <PrintTextPaperName />
    <BraillePrinterName />
  </Main>
</AppOptions>